// styles.scss

.global-layout {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625rem;
    margin-left: -0.625rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  